[submodule "frontend"]
	path = frontend
	url = https://github.com/andremsm/internship_frontend
[submodule "backend"]
	path = backend
	url = https://github.com/andremsm/internship_backend
[submodule "updater"]
	path = updater
	url = https://github.com/andremsm/internship_updater
