.App {
	text-align: center;
	background-color: aliceblue;
	font-family: "Nunito";
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@media screen and (max-width: 608px) {
	.header {
		clear: right;
	}
}

.App-header {
	background-color: aliceblue;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Nunito";
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-table {
	font-family: "Nunito";
}

.App-box {
	font-family: "Nunito";
	color: #363636;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.125;
}

.App-link {
	color: #61dafb;
}

.pmpr {
	width: 96px;
	height: 116px;
	float: left;
	margin: -30px 0px 0px 0px;
	position: relative;
	z-index: 2;
	-webkit-user-drag: none;
}

.cosi {
	width: 150px;
	height: 100px;
	float: right;
	margin: -25px 0px 0px 0px;
	position: relative;
	z-index: 2;
	-webkit-user-drag: none;
}

.login {
	height: 40px;
	width: 15px;
	margin: 0px 0px 8.5px -4px;
}

.login img {
	-webkit-user-drag: none;
}

.logout {
	height: 40px;
	width: 15px;
	margin: 0px -4px 8.5px 0px;
}

.logout img {
	-webkit-user-drag: none;
}

.separator {
	background-color: ghostwhite;
}

.separatorFooter {
	background-color: aliceblue;
	margin: 140px 0px 0px 0px;
}

.triskele {
	float: right;
	margin: 0px 0px 0px 0px;
	padding: 50px 0px 0px 0px;
	position: relative;
	width: 150px;
	height: 150px;
	margin-left: auto;
}

.triskele img {
	-webkit-user-drag: none;
}

.rrow:after {
	content: "";
	display: table;
	clear: both;
}
.ccolumn {
	float: left;
	width: 33.3333333333%;
	padding: 0px;
}
@media screen and (max-width: 600px) {
	.ccolumn {
		width: 100%;
	}
}
.bhover {
	box-shadow: inset 0 0 0 0 #f0fbff;
	color: #000000;
	transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.bhover:hover {
	box-shadow: inset 1200px 0 0 0 #8ed6f0, 0 0 11px 2px rgba(33, 33, 33, 0.2);
	color: white;
}
.thover {
	color: #18272f;
	position: relative;
	text-decoration: none;
}

.thover::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	border-radius: 4px;
	background-color: #18272f;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.thover:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.ctext {
	padding: 12px 0px;
}

.ctext2 {
	padding: 0px 0px;
}

.ctext3 {
	padding: 12px 0px;
}

.clickable {
	cursor: pointer;
}

.bwhite {
	color: white;
}

.bgrey {
	background-color: black;
}

.slider {
	position: relative;
	width: 600px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.sliderBackground {
	background-color: aliceblue;
}

.invisible-wall {
	clip-path: inset(0 0 100% 0);
}

.headBackground {
	background-color: #e6fcfc;
}

.headNoBorder {
	border-bottom: 0px none #ffffff;
}

.fa-blank {
	visibility: hidden !important;
}

@media screen and (max-width: 501px) {
	.slider {
		width: 300px;
		height: 240px;
	}
}

@media screen and (max-width: 600px) {
	.separator {
		background-color: aliceblue;
	}
}

@media screen and (max-width: 608px) {
	.header {
		clear: right;
	}
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

@media screen and (max-width: 650px) {
	.cosi {
		width: 99px;
		height: 66px;
		clear: left;
		margin: -80px 0px 0px 0px;
	}
}

/*@media screen and (max-width: 402px) {
	.stext {
		font-size: 12px;
	}
}*/

@media screen and (max-width: 426px) {
	.triskele {
		position: relative;
		width: 150px;
		height: 150px;
		margin-left: auto;
		padding: 0px 0px 0px 0px;
	}
}

.modal-card,
.modal-content {
	margin: 0 20px;
	max-height: calc(100vh - 160px);
	overflow: auto;
	position: relative;
	/*remove width: 100%;*/
	width: calc(100% - 2em);
}
/*modal breakpoint*/
@media screen and (min-width: 769px) {
	.modal-card,
	.modal-content {
		margin: 0 auto;
		max-height: calc(100vh - 40px);
		width: 640px;
	}
}

.modal-card-title {
	flex-grow: 1;
	flex-shrink: unset;
	font-size: 1.5rem;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.img-selected {
	border: red;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}